/*

dark background color (hero and footer)
#1f2937

hero main text ("this website is awesome")
48px extra-bold #f9faf8

hero secondary text, header link text
18px #e5e7eb

header logo text
24px #f9faf8

button color, call to action background color
#3882f6

information header text
36px extra-bold #1f2937

quote section background color
#e5e7eb

quote text 
36px light italic #1f2937
*/


* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}


header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #1f2937;
}

.header-links {
  display: flex;
  gap: 24px;
}
